body { 
    color:black;
    background: white;
    
}
header{
    border: solid 2px blue;
    padding: 20px; 
    font-size: 32px;
    color: blue;
}

section{
    background: blue;
    padding-bottom: 80px;
    padding-top: 80px;
}
